In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = r'/content/drive/MyDrive/Hackathon/Hackathon_2021/Sample_data/data/matrix/matrix_.csv'
matrix = pd.read_csv(path,skipinitialspace=True).fillna(method='ffill').set_index('Components','Test ID')

In [ ]:
matrix

            Test ID  Available Material Quantity  1  2  3  4  ...  7  8  9 10 11 12
Components                                                    ...
A1             1004                           22  Y  Y  Y  Y  ...  y  N  Y  Y  Y  Y
A1               65                           13  Y  Y  Y  Y  ...  Y  N  Y  Y  Y  Y
A1             1241                           39  N  N  Y  Y  ...  Y  N  N  Y  Y  Y
A1             6251                           47  N  N  N  N  ...  N  Y  N  N  N  N
A1             1317                           14  N  N  N  N  ...  Y  N  Y  N  N  N
...             ...                          ... .. .. .. ..  ... .. .. .. .. .. ..
A6             4392                           34  Y  Y  Y  Y  ...  Y  N  Y  Y  Y  Y
A6             5560                           17  Y  Y  Y  Y  ...  Y  N  Y  Y  Y  Y
A6             6261                           30  Y  Y  Y  Y  ...  Y  N  Y  Y  Y  Y
A6             8091                            7  N  N  N  N  ...  Y  N  N  N  N  N
A6             8416                           25  N  N  N  N  ...  Y  N  N  Y  N  N

[62 rows x 14 columns]

In [ ]:
test = pd.read_csv(r'/content/drive/MyDrive/Hackathon/Hackathon_2021/Out.csv',index_col= False)
test

        ID         y
0        1   80.1022
1        2   97.9905
2        3   82.0139
3        4   76.9878
4        5  111.0111
...    ...       ...
4204  8410  105.0004
4205  8411   95.0041
4206  8413   94.0024
4207  8414  111.0098
4208  8416   93.9982

[4209 rows x 2 columns]

In [ ]:
seq = [[65,2222,5,1466,4211,2709],
[841,7623,1241,1466,701,4211],
[6189,4392,201,2135,6450,1241],
[5,65,1466,2222,701,5370],
[1111,1330,3213,701,65,7623],
[2689,5,1111,701,548,1004]]

In [ ]:
def wait_time(seq_list,test_result):
  t_sum = 0
  for i in seq_list:
    time = test_result.loc[test_result['ID'] == i,'Y'].iloc[0]
    t_sum += time
  return t_sum

In [ ]:
def machine_num(seq_list,main_matrix):
  machine = []
  for k in range(1,12):
    value_list = []
    for i in seq_list:
      value = main_matrix.loc[matrix['Test ID'] == i]['{}'.format(k)].iloc[0]
      value_list.append(value)
    res = all(element == 'Y' for element in value_list)
    if (res):
      machine.append(k)
    else:
      machine.append('NA')
  return machine

In [ ]:
t = [1004,6450,185,1466,2080]
machine_num(t,matrix)

[1, 'NA', 'NA', 'NA', 5, 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']

In [ ]:
t_seq = []
for i in range(len(seq)):
  s = seq[i]
  time = []
  for k in s:
    t = test.loc[test['ID'] == k,'y'].iloc[0]
    time.append(t)
  t_seq.append(time)

In [ ]:
t_seq

[[105.00010000000002,
  92.9934999999999,
  111.01110000000016,
  112.0115,
  112.01560000000013,
  78.87840000000004],
 [81.4012,
  101.98919999999991,
  112.01720000000013,
  112.0115,
  95.01070000000007,
  112.01560000000013],
 [95.00970000000008,
  112.01780000000002,
  104.9927,
  103.99069999999996,
  112.01580000000013,
  112.01720000000013],
 [111.01110000000016,
  105.00010000000002,
  112.0115,
  92.9934999999999,
  95.01070000000007,
  94.00270000000008],
 [92.99379999999992,
  112.01900000000006,
  93.99940000000004,
  95.01070000000007,
  105.00010000000002,
  101.98919999999991],
 [94.9992,
  111.01110000000016,
  92.99379999999992,
  95.01070000000007,
  80.84550000000002,
  93.99850000000004]]

In [ ]:
for i in range(len(t_seq)):
  t = np.sort(t_seq[i])

In [ ]:
min_first = [item[0] for item in t_seq]
min(min_first)
Id = test.loc[test['y'] == min(min_first),'ID'].iloc[0]
Id

841

In [ ]:
sec = [item[1] for item in t_seq]
s = set(sec)
sorted(s)[1]
Id2 = test.loc[test['y'] == sorted(s)[1],'ID'].iloc[0]
Id2

7623

In [ ]:
sec = [item[1] for item in t_seq]
s = set(sec)
sor = sorted(s)[2]
Id2 = test.loc[test['y'] == sor,'ID'].iloc[0]
Id2

65